.slider-test{
    width: 90%;
    margin: 0 auto;
    position: relative;
    .slick-active > div{
        display: flex;
        justify-content: center;
    }
    &__slide{
        display: flex;
        justify-content: center;
        max-width: 400px;
        h2{
            margin: 0 0 10px 0;
        }
    }
    .slick-dots{
        padding: 20px 0;
        bottom: unset;
        position: relative;
    }
}
.test-title{
    text-align: center;
    margin: 120px 0 100px 0;
}