

.nav{
    &__container{
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--logo{
         width: 80px;
         height: 80px;
         img{
             object-fit: contain;
             width: 100%;
             height: 100%;
         }   
        }
        &--links{
            display: flex;
            list-style: none;
            gap: 20px;
            cursor: pointer;
            &--link{
                transition: color .3s ease-in-out;
                &:hover{
                    color: #18a0fb;
                }
            }
        }
        &--btns{
            display: flex;
            gap: 10px;
            &--btn{
                padding: 5px 25px;
                border-radius: 10px;
                cursor: pointer;
                &.login-btn{
                    border: 1px solid #18a0fb;
                    background-color: transparent;
                    color: #18a0fb;
                    transition: background-color .3s ease-in-out, color .3s ease-in-out;
                    cursor: pointer;
                    &:hover{
                        background-color: #18a0fb;
                        color: #fff;
                    }
                }
                &.sign-btn{
                    color: #fff;
                    border: 1px solid #18a0fb;
                    background-color: #18a0fb;
                    transition: background-color .3s ease-in-out, color .3s ease-in-out;
                    cursor: pointer;
                    &:hover{
                        background-color: transparent;
                        color: #18a0fb;
                    }
                }
            }
        }
    }

}