*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }


.slider{
  height: calc(100vh - 90.4px);
  width: 100%;
  margin: 0 auto;
  position: relative;
  .slick-list {
    height: 100%;
  }
  .slick-track {
    height: 100%;
  }
  .slick-slide {
    & > div {
      height: 100%;
      div {
        height: 100%;
      }
    }
  }
    &-btn-right{
        font-size: 50px;
        font-weight: lighter;
        line-height: 0;
        position: absolute;
        z-index: 4;
        top: 50%;
        right: 33px;
        display: block;
        width: 20px;
        height: 20px;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        color: #1d1e1e;
        border: none;
        outline: none;
        background-color: transparent;
      }
      &-btn-left{
        font-size: 50px;
        line-height: 0;
        position: absolute;
        top: 50%;
        z-index: 2;
        left: 33px;
        display: block;
        width: 20px;
        height: 20px;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        color: #1d1e1e;
        border: none;
        outline: none;
        background-color: transparent;
      }
}




