.sing_up {
	border: 1px solid black;
	margin: 1rem auto;
	padding: 2rem;
	max-width: 600px;
	border-radius: 0.25rem;
}

.title {
	margin-top: 1rem;
	margin-bottom: 3rem;
	font-size: xx-large;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.form input {
	width: 100%;
	padding: 0.5rem;
}

.error {
	color: #db5752;
	font-weight: 700;
}

.submit {
	margin-top: 1rem;
	background-color: #9ac9fb;
	border: 0;
	outline: 0;
	border-radius: 1rem;
	cursor: pointer;
	padding: 0.75rem;
	font-size: large;
	width: fit-content;
	min-width: 150px;
	transition: transform 0.1s ease-in-out;
}

.submit[disabled] {
	opacity: 0.5;
	cursor: not-allowed;
}

.submit:hover:not([disabled]) {
	transform: scale(1.05);
}
