.hello{
    padding: 200px 0;
    text-align: center;
}

.hello-hand{
    animation: saludar 2s 2s infinite;
    display: inline-block;
}

@keyframes saludar{
    0%{
      transform: rotate(-15deg);
    }
    50%{
      transform: rotate(15deg);
    }
    100%{
      transform: rotate(-15deg);
    }
  }